.header {
  width: 100%;
  margin: 2rem 0 1rem 0;
  background: #FFFFFF;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  margin-right: 7.5rem;
}

.body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.userBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userImg {
  width: 58px;
  height: 58px;
  filter: drop-shadow(0px 2px 4px rgba(191, 196, 201, 0.2)) drop-shadow(0px 3px 4px rgba(191, 196, 201, 0.18)) drop-shadow(0px 1px 5px rgba(191, 196, 201, 0.24));
  border-radius: 150px;
  object-fit: cover;
  margin-left: 1rem;
}
