.header {
  width: 100%;
  padding: 2rem 0 1rem 0;
  background: #FFFFFF;
  flex: 0 0 auto;
  margin-bottom: 3rem;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  margin-right: 10rem;
}

.logo img {
  width: 165px;
  height: 40px;
}

.burgerMenu {
  display: none;
}

.body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.userBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userImg {
  width: 58px;
  height: 58px;
  filter: drop-shadow(0px 2px 4px rgba(191, 196, 201, 0.2)) drop-shadow(0px 3px 4px rgba(191, 196, 201, 0.18)) drop-shadow(0px 1px 5px rgba(191, 196, 201, 0.24));
  border-radius: 150px;
  object-fit: cover;
  margin-left: 1rem;
}

.burgerMenu {
  cursor: pointer;
  padding: 0;
  border: none;
  background: transparent;
  position: relative;
  z-index: 999;
  width: 40px;
  height: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
}

.burgerMenuIcon {
  display: block;
  position: relative;
  width: 30px;
  height: 3px;
  background-color: #363636;

  &::before, &::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
    background-color: #363636;
  }

  &::after {
    left: 0;
    top: -9px;
  }

  &::before {
    left: 0;
    top: 9px;
  }
}


@media (max-width: 900px) {
  .header {
    padding: 2rem 0 1.5rem 0;
    margin-bottom: 2rem;
  }

  .logo {
    display: none;
  }

  .userBlock {
    display: none;
  }

  .burgerMenu {
    display: block;
  }
}

@media (max-width: 650px) {
  .header {
    padding: 1.5rem 0 1.5rem 0;
    margin-bottom: 0.7rem;
  }

  .burgerMenuIcon {
    display: block;
    position: relative;
    width: 20px;
    height: 2px;
    background-color: #363636;
  
    &::before, &::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 2px;
      background-color: #363636;
    }
  
    &::after {
      left: 0;
      top: -5px;
    }
  
    &::before {
      left: 0;
      top: 5px;
    }
  }

}


