h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 3.25rem;
  line-height: 4rem;
  letter-spacing: 0.2px;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 2.75rem;
  line-height: 3.375rem;
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.1px;
}

h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.875rem;
  letter-spacing: 0.1px;
}

h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.875rem;
  letter-spacing: 0.1px;
}

h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0.1px;
  margin: 0;
}

@media (max-width: 650px) {
  h3 {
    font-size: 18px;
    line-height: 28px;
  }
}

